.migration-section-content h2{
    font-size: 3rem;
    font-weight: 600;
    font-family: Gilroy-Bold;
        background: linear-gradient(90deg, #f97316 0%, #facc15 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.migration-section-content p{
    font-size: 1rem;
    font-weight: 400;
    font-family: Gilroy;
}
.metric-box h2{
    font-size: 3rem;
    font-weight: 600;
    font-family: Gilroy-Bold;
}
.mig-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
   
}

.mig-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     transition: all 0.4s ease-in-out;
}
.mig-img img:hover{
    transform: scale(1.1);
}

.migration-metrics{
    display:flex;
    gap: 1rem;
}
.migration-metrics .metric-box{
    width: 33%
}
