/* Team Section Styles */
.serv-section {


    position: relative;
}

@media (min-width: 640px) {
    .serv-section {}
}

.team-container {

    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 640px) {
    .team-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .team-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/* Carousel Container */
.carousel-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    perspective: 1200px;
}

.carousel-nav-btn {
    position: absolute;
    z-index: 20;
    display: inline-flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.carousel-nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.carousel-nav-btn svg {
    height: 1.25rem;
    width: 1.25rem;
}

.carousel-nav-prev {
    left: 1rem;
}

.carousel-nav-next {
    right: 1rem;
}

/* Carousel Track */
.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 28rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-track {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

/* Carousel Card */
.carousel-card {
    position: absolute;
    width: 20rem;
    height: 460px;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
}

.carousel-card.active {
    box-shadow: inset 0 0 0 2px rgba(13, 48, 163, 0.5),
        0 20px 60px rgba(13, 48, 163, 0.5);
    background-color: rgba(101, 163, 13, 0.1);
}

.carousel-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.metric-overlay {
    position: relative;
    top: -5rem;
}


.metric-bg {
    background: rgba(73, 73, 73, 0.11);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 1rem;
}

.metric-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 0px 20px 32px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 60px 30px rgba(255, 255, 255, 1);
    padding-block: 0.5rem;
    border-radius: 20px;
}

.metric-content h2 {
    font-family: Gilroy-Bold;
    font-size: 4rem;
    font-weight: 800;

    background: linear-gradient(90deg, #f97316 0%, #facc15 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.metric-content p {
    font-family: Gilroy;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}