.feature-item {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    position: relative;
    border-right: 1px solid #e5e5e5;
    align-items: start !important;
}



.feature-item.border-left {
    border-left: 1px solid #e5e5e5;
}



.feature-item.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


.gradient-overlay {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.gradient-top {
    background: linear-gradient(to top, #f5f5f5cd, transparent);
}



.gradient-bottom {
    background: linear-gradient(to bottom, #f5f5f5cd, transparent);
}



.feature-item:hover .gradient-overlay {
    opacity: 1;
}

.icon-wrapper {
    margin-bottom: 16px;
    position: relative;
    z-index: 10;
    padding: 0 40px;
    color: #525252;
}
.icon-wrapper img {
    width: 150px;
}


.title-wrapper {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
    z-index: 10;
    padding: 0 40px;
}

.accent-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 4px;
    border-radius: 0 9999px 9999px 0;
    background-color: #d4d4d4;
    transition: all 0.2s ease;
    transform-origin: center;
}


.feature-item:hover .accent-bar {
    height: 50px;
    background-color: #F98216;
}

.title-text {
    display: inline-block;
    transition: transform 0.2s ease;
    color: #000;
}



.feature-item:hover .title-text {
    transform: translateX(8px);
}

.description {
    font-size: 14px;
    color: #000;
    max-width: 320px;
    position: relative;
    z-index: 10;
    padding: 0 40px;
    margin: 0;
}



@media (max-width: 1023px) {
    .feature-item {
        border-right: none;
    }

    .feature-item.border-left {
        border-left: none;
    }

    .feature-item.border-bottom {
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .features-grid {
        grid-template-columns: 1fr !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}