/* Timeline Container */
.timeline-container {
  width: 100%;
  background-color: white;
}



@media (min-width: 768px) {
  .timeline-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* Timeline Header */
.timeline-header {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  
}




/* Timeline Title */
.timeline-title {
  font-size: 2.5rem;
    font-family: Gilroy-Bold;
}

@media (min-width: 768px) {
  .timeline-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}


/* Timeline Description */
.timeline-description {
  color: rgb(64, 64, 64);
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 24rem;
}

@media (min-width: 768px) {
  .timeline-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}


/* Timeline Content */
.timeline-content {
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

/* Timeline Item */
.timeline-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 2.5rem;
}

@media (min-width: 768px) {
  .timeline-item {
    padding-top: 10rem;
    gap: 2.5rem;
  }
}

/* Timeline Item Header */
.timeline-item-header {
  position: sticky;
  display: flex;
  flex-direction: column;
  z-index: 40;
  align-items: center;
  top: 10rem;
  align-self: flex-start;
  max-width: 20rem;
}

@media (min-width: 768px) {
  .timeline-item-header {
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .timeline-item-header {
    max-width: 24rem;
  }
}

/* Timeline Dot Wrapper */
.timeline-dot-wrapper {
  height: 2.5rem;
  position: absolute;
  left: 0.75rem;
  width: 2.5rem;
  border-radius: 9999px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .timeline-dot-wrapper {
    left: 0.75rem;
  }
}



/* Timeline Dot */
.timeline-dot {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background-color: rgb(229, 229, 229);
  border: 1px solid rgb(212, 212, 212);
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .timeline-dot {
    background-color: rgb(38, 38, 38);
    border-color: rgb(64, 64, 64);
  }
}

/* Timeline Item Title - Desktop */
.timeline-item-title-desktop {
  display: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: rgb(115, 115, 115);
}

@media (min-width: 768px) {
  .timeline-item-title-desktop {
    display: block;
    padding-left: 5rem;
    font-size: 3rem;
    line-height: 1;
  }
}



/* Timeline Item Content */
.timeline-item-content {
  position: relative;
  padding-left: 5rem;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .timeline-item-content {
    padding-left: 1rem;
  }
}

/* Timeline Item Title - Mobile */
.timeline-item-title-mobile {
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: 700;
  color: rgb(115, 115, 115);
}

@media (min-width: 768px) {
  .timeline-item-title-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .timeline-item-title-mobile {
    color: rgb(115, 115, 115);
  }
}

/* Timeline Line */
.timeline-line {
  position: absolute;
  left: 2rem;
  top: 0;
  overflow: hidden;
  width: 2px;
  background-image: linear-gradient(to bottom, transparent 0%, rgb(229, 229, 229) 50%, transparent 99%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

@media (min-width: 768px) {
  .timeline-line {
    left: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .timeline-line {
    background-image: linear-gradient(to bottom, transparent 0%, rgb(64, 64, 64) 50%, transparent 99%);
  }
}

/* Timeline Line Progress */
.timeline-line-progress {
  position: absolute;
  inset-inline: 0;
  top: 0;
  width: 2px;
  background: linear-gradient(to top, rgb(168, 85, 247) 0%, rgb(59, 130, 246) 10%, transparent 100%);
  border-radius: 9999px;
}